:root {

    --bg-color: #f5f7fb;
  
    --text-color: #111827;
  
    --card-bg: #ffffff;
  
    --border-color: #e5e7eb;
  
    --primary-color: #2563eb;
  
    --secondary-text: #6b7280;
  }
  
  .dark {
  
    --bg-color: #111827;
  
    --text-color: #f9fafb;
  
    --card-bg: #1f2937;
  
    --border-color: #374151;
  
    --primary-color: #3b82f6;
  
    --secondary-text: #9ca3af;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    color: #111827;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
/* navbar */

  .navbar {
    width: 100%;
    padding: 20px 40px;
    background: white;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    border-bottom: 1px solid #e5e7eb;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #95c602;
  }
  
  .nav-links {
    display: flex;
    gap: 24px;
  }
/* hero section */

  .hero {
    padding: 100px 40px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 52px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    color: #6b7280;
    margin-bottom: 30px;
  }
  
  .hero button {
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    cursor: pointer;
  }

  /* calculator card */

  .card-link {
    text-decoration: none;
  }
  
  .calculator-card {
    background: white;
    padding: 24px;
    border-radius: 16px;
  
    transition: 0.2s ease;
  
    border: 1px solid #e5e7eb;
  
    height: 100%;
  }
  
  .calculator-card:hover {
    transform: translateY(-4px);
  }
  
  .calculator-card h3 {
    margin-bottom: 12px;
    color: #111827;
  }
  
  .calculator-card p {
    color: #6b7280;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .calculator-card span {
    display: inline-block;
    padding: 6px 12px;
    background: #eff6ff;
    color: #2563eb;
    border-radius: 999px;
    font-size: 14px;
  }
/* calculator section */

  .calculator-section {
    padding: 80px 40px;
  }
  
  .section-header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .section-header h2 {
    font-size: 36px;
    margin-bottom: 12px;
  }
  
  .section-header p {
    color: #6b7280;
  }
  
  .calculator-grid {
    display: grid;
  
    grid-template-columns:
      repeat(auto-fit, minmax(260px, 1fr));
  
    gap: 24px;
  }
/* responsiveness mobile */

  @media (max-width: 768px) {

    .navbar {
      padding: 16px 20px;
    }
  
    .nav-links {
      gap: 16px;
      font-size: 14px;
    }
  
    .hero {
      padding: 80px 20px;
    }
  
    .hero h1 {
      font-size: 36px;
      line-height: 1.2;
    }
  
    .hero p {
      font-size: 16px;
    }
  
    .calculator-section {
      padding: 60px 20px;
    }
  
    .section-header h2 {
      font-size: 28px;
    }
  
  }

  /* Footer */

  .footer {
    background: white;
    margin-top: 80px;
  
    border-top: 1px solid #e5e7eb;
  }
  
  .footer-top {
    padding: 60px 40px;
  
    display: flex;
    justify-content: space-between;
    gap: 40px;
  
    flex-wrap: wrap;
  }
  
  .footer-brand {
    max-width: 300px;
  }
  
  .footer-brand h2 {
    color: #2563eb;
    margin-bottom: 12px;
  }
  
  .footer-brand p {
    color: #6b7280;
    line-height: 1.6;
  }
  
  .footer-links {
    display: flex;
    gap: 80px;
  
    flex-wrap: wrap;
  }
  
  .footer-links div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .footer-links h4 {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #6b7280;
  }
  
  .footer-bottom {
    border-top: 1px solid #e5e7eb;
  
    padding: 20px;
    text-align: center;
  
    color: #6b7280;
  }

  /*category-section */

  .category-section {
    padding: 0 40px 80px;
  }
  
  .category-grid {
    display: grid;
  
    grid-template-columns:
      repeat(auto-fit, minmax(180px, 1fr));
  
    gap: 20px;
  }
  
  .category-card {
    background: white;
  
    padding: 30px 20px;
  
    border-radius: 16px;
  
    text-align: center;
  
    font-weight: 600;
  
    border: 1px solid #e5e7eb;
  
    transition: 0.2s ease;
  }
  
  .category-card:hover {
    transform: translateY(-4px);
  }

  /* SearchBar */

  .search-container {
    max-width: 600px;
    margin: 40px auto 0;
  }
  
  .search-container input {
    width: 100%;
  
    padding: 18px 20px;
  
    border-radius: 14px;
  
    border: 1px solid #d1d5db;
  
    outline: none;
  
    font-size: 16px;
  }

  /* Mobile resopnsiveness */

  @media (max-width: 768px) {

    .footer-top {
      padding: 50px 20px;
    }
  
    .footer-links {
      gap: 40px;
    }
  
    .category-section {
      padding: 0 20px 60px;
    }
  
    .search-container {
      margin-top: 30px;
    }
  
  }


  /* Calculator Layout */

  .calculator-page {
    padding: 60px 20px;
  }
  
  .calculator-header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .calculator-header h1 {
    font-size: 42px;
    margin-bottom: 14px;
  }
  
  .calculator-header p {
    color: #6b7280;
    max-width: 700px;
    margin: auto;
  
    line-height: 1.7;
  }
  
  .calculator-wrapper {
    max-width: 900px;
    margin: auto;
  }

  /* Calculator Container */

  .calculator-container {
    background: white;
  
    padding: 40px;
  
    border-radius: 20px;
  
    border: 1px solid #e5e7eb;
  
    margin-bottom: 40px;
  }

/* Input Field */

.input-group {
    margin-bottom: 24px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 10px;
  
    font-weight: 600;
  }
  
  .input-group input {
    width: 100%;
  
    padding: 16px;
  
    border-radius: 12px;
  
    border: 1px solid #d1d5db;
  
    outline: none;
  
    font-size: 16px;
  }

/* Result Box */

.result-box {
    margin-top: 30px;
  
    padding: 24px;
  
    border-radius: 16px;
  
    background: #eff6ff;
  }
  
  .result-box h3 {
    margin-bottom: 10px;
  }
  
  .result-box p {
    font-size: 32px;
    font-weight: bold;
  
    color: #2563eb;
  }

  .result-box {
    word-break: break-word;
  }

/* AD Placeholder */


.ad-placeholder {
    height: 120px;
  
    background: #f3f4f6;
  
    border: 2px dashed #d1d5db;
  
    border-radius: 16px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #6b7280;
  
    margin: 40px 0;
  }

/* Info Section */

.info-section {
    margin: 60px 0;
  }
  
  .info-section h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .info-content {
    line-height: 1.8;
    color: #374151;
  }

/* Breadcrumbs */

.breadcrumbs {
    display: flex;
    gap: 10px;
  
    align-items: center;
  
    margin-bottom: 30px;
  
    color: #6b7280;
  
    font-size: 14px;
  }

/* FAQ Section */

.faq-section {
    margin: 80px 0;
  }
  
  .faq-section h2 {
    margin-bottom: 30px;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .faq-item {
    background: white;
  
    border-radius: 14px;
  
    border: 1px solid #e5e7eb;
  
    overflow: hidden;
  }
  
  .faq-question {
    width: 100%;
  
    padding: 20px;
  
    border: none;
  
    background: white;
  
    text-align: left;
  
    font-size: 16px;
  
    font-weight: 600;
  
    cursor: pointer;
  }
  
  .faq-answer {
    padding: 0 20px 20px;
  
    color: #6b7280;
  
    line-height: 1.7;
  }

  /* No Reslut */

  .no-results {
    grid-column: 1 / -1;
  
    text-align: center;
  
    padding: 40px;
  
    background: white;
  
    border-radius: 16px;
  
    border: 1px solid #e5e7eb;
  
    color: #6b7280;
  }

  /* Navbar CSS responsive */

  .mobile-menu-icon {
    display: none;
  
    font-size: 24px;
  
    cursor: pointer;
  }
  
  .mobile-menu {
    position: absolute;
  
    top: 80px;
    left: 0;
  
    width: 100%;
  
    background: white;
  
    display: flex;
    flex-direction: column;
  
    padding: 20px;
  
    border-top: 1px solid #e5e7eb;
  
    gap: 20px;
  
    z-index: 999;
  }
  
  @media (max-width: 768px) {
  
    .desktop-nav {
      display: none;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  
  }

  /* Toggle css */

  .theme-toggle {
    border: none;
  
    background: var(--card-bg);
  
    padding: 10px 14px;
  
    border-radius: 10px;
  
    cursor: pointer;
  
    font-size: 18px;
  
    border: 1px solid var(--border-color);
  }